.haeder {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.nev-items {
    padding: 0px 20px;
}

.nev-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nev-items > ul > li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.res-card {
    margin: 7px;
    width: 190px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    padding: 10px;
}

.res-img {
    width: 100%;

}