.haeder {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.nev-items {
    padding: 0px 20px;
}

.nev-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nev-items > ul > li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.res-card {
    margin: 7px;
    width: 190px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    padding: 10px;
}

.res-img {
    width: 100%;

}

.filter-btn {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.Shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.fileter {
    display: flex;
    align-items: center;
    margin: 20px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.search-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #008CBA;
    color: white;
    border-radius: 5px;
}

.user-card {
    border: none;
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.abt-image {
    width: 100px;
    height: 300px;
}